
fourier_series/android/.project
fourier_series/android/.settings/org.eclipse.buildship.core.prefs
fourier_series/android/app/.classpath
fourier_series/android/app/.project
fourier_series/android/app/.settings/org.eclipse.buildship.core.prefs
